.navbar-container {
  background-color: #5b2c87;
  border-radius: 40rem;
  color: #fff;
  min-width: 450px;
  position: absolute;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  padding: 0.25rem;
  margin-top: 3rem;
}
