/* ContactForm Styles */

.contact-form-container {
    display: flex;
    padding: 20px;
    margin: 20px auto; 
    max-width: 100%;
    min-height: 50vh;
}

.contact-form-column {
    width: 48%;
    margin: auto;
}

.contact-form-text {
    font-size: 24px;
    line-height: 1.5;
    color: #fff;
}

.contact-form form {
    width: 90%;
    max-width: 600px;
}

.left-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-column {
    margin-bottom: 30px;
    padding-left: 10%;
}

.left-column .header {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 10px;
    position: relative;
}

.contact-form label {
    pointer-events: none;
    position: absolute;
    left: 15px;
    top: -4px;
    padding: 10px;
    color: #000;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    width: 80%;
}

.input-box:focus-within .details {
    opacity: 0;
    transform: translateY(-20px); /* Moves label out of sight when textarea is focused */
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    background-color: white;
    color: #5b2c87;
    padding: 10px 20px;
    margin-left: 10px;
    width: 80%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #5b2c87;
    color: white;
} 

.row {
    display: flex;
    align-items: center;
}

.row .input-box {
    flex-basis: 44.5%;
}
